<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <nav class="navbar navbar-dark bg-dark auto">
      <div class="col-12 text-right">
        <%= button_to "logout", destroy_user_session_path, method: :delete, class:'btn btn-danger' %>
      </div>
      </nav>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>


<style>
.auto {
  left: auto !important;
  right: 0px;
}
</style>